@model Asp.NET_E_Commerce_MVC5_ENTITY_.Models.DEPARTMENT
@{
    ViewBag.Title = "DEPARTMENT_UPDATE";
    Layout = "~/Views/Shared/_ADMINLAYOUT.cshtml";
}

<div class="m-3">
    <div class="p-2 pl-4 mb-4  rounded" style="display:flex;flex-wrap:wrap;align-items:center;background-color:#434851">
        <div class="m-0 text-white" style="text-align:center;width:20%"><h5 class="m-0">Departman Güncelleme Formu</h5></div>
        <div class="bg-white rounded ml-5" style="height:2px;width:70%"></div>
    </div>
    <hr />
    <form class="form-group" method="post" enctype="multipart/form-data">
        <br />
        @Html.Label("Departman Ad")
        @Html.TextBoxFor(d => d.NAME, new { @class = "form-control" })
        <div style="position:relative">
            <span style="position:absolute;right:20px">@Html.ValidationMessage("NAME", new { @style = "color:red" })</span>
        </div>
        <br />
        @Html.Label("Departman Resim Url")
        <br />
        
        <input name="DEPARTMENT_IMAGE" type="file" />
        <br />
        <button class="mt-3 btn btn-block btn-info">Güncelle</button>
    </form>
</div>